<%= form_for @sound do |f| %>
  <% if @sound.errors.any? %>
    <div class="errors">
      <ul>
        <% @sound.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-field">
    <%= f.label :audio %>
    <%= f.attachment_field :audio, direct: true, presigned: true %>
  </div>

  <progress value="0" max="100"></progress>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
