<% content_for :head do %>
  <%= javascript_include_tag 'sounds/waveform' %>
  <%= javascript_include_tag 'sounds/form' %>
<% end %>


<%= form_for @sound do |f| %>
  <%= render partial: 'shared/errors', locals: { object: @sound } %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :audio, "Audio File" %>
    <%= f.attachment_field :audio, direct: true, presigned: true %>
    <progress value="0" max="100"></progress>
    <p id="file-name"></p>
  </div>

  <div class="form-group">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-block btn-lg btn-primary" %>
  </div>
<% end %>
