<div class="sound">
  <div class="row">
    <div class="col-sm-6">
      <h4><%= link_to sound.title, sound %></h4>
      <p>Uploaded by: <%= link_to sound.owner.full_name, sound.owner %></p>
    </div>
    <div class="col-sm-6 top-buffer">
      <%= content_tag(:span, "Public", class: "label label-default") if sound.public? %>
      <%= content_tag(:span, "Shared", class: "label label-default") if sound.authorized_users.include?(current_user) %>
      <%= content_tag(:span, "My Sound", class: "label label-default") if sound.owner?(current_user) %>
    </div>
  </div>
</div>
