<% content_for :head do %>
  <%= javascript_include_tag 'users/share' %>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <h3><%= link_to @sound.name, @sound %></h3>
  </div>
  <div class="col-sm-8">
    <h4>share with: </h4>
      <%= form_for :authorizations, url: authorizations_path do |f| %>
        <%= f.hidden_field :sound_id, value: @sound.id %>
        <%= f.collection_select(:user_ids, @users, :id, :full_name, { include_hidden: false, selected: @sound.authorized_users.ids }, { multiple: "multiple", class: "form-control multiselect multiselect-info" }) %>
        <%= f.submit "Share", class: "btn btn-lg btn-primary top-buffer" %>
      <% end %>
  </div>
</div>
