<% content_for :head do %>
  <%= javascript_include_tag 'sounds/waveform' %>
  <%= javascript_include_tag 'sounds/show' %>
<% end %>

<h1><%= @sound.name %></h1>
<h3>Uploaded by: <%= link_to @sound.user.name, @sound.user %></h3>

<button type="button" id="load-button" class="btn btn-block btn-lg btn-primary">Load</button>

<%= render 'waveform' %>


<%= link_to 'back', root_path %> |
<%= link_to 'edit', edit_sound_path(@sound) %> |
<%= link_to 'delete', @sound, method: :delete %>
