<% content_for :head do %>
  <%= javascript_include_tag 'sounds/waveform' %>
  <%= javascript_include_tag 'sounds/show' %>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <h3><%= @sound.name %></h3>
    <div>
      <%= render partial: 'shared/tags', locals: { sound: @sound } %>
    </div>
    <div class="top-buffer-lg">
      <% if @shares && @shares.any? %>
        <p>Sharing with:</p>
        <div>
          <% @shares.each do |share| %>
            <%= render partial: 'share', locals: { share: share } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <p>
      <% unless current_user? @sound.owner %>
        Uploaded by: <%= link_to(@sound.owner.full_name, @sound.owner) %>
      <% end %>
    </p>
  </div>
  <div class="col-sm-8 top-buffer">
    <%= render partial: 'waveform', locals: { sound: @sound } %>
  </div>
</div>

<% if current_user? @sound.owner %>
  <div class="row">
    <div class="col-sm-12 top-buffer">
      <div class="text-center top-buffer">
        <div class="btn-group">
          <%= link_to 'share', share_sound_path(@sound), class: "btn btn-lg btn-inverse" %>
          <%= link_to 'edit', edit_sound_path(@sound), class: "btn btn-lg btn-primary" %>
          <%= link_to 'delete', @sound, method: :delete, class: "btn btn-lg btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
