<!DOCTYPE html>
<html>
<head>
  <title>SoundShare</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="application">
  <div class="container-fluid">
    <%= render 'shared/navbar' %>
    <% flash.each do |name, message| %>
      <%= content_tag :div, message, class: "alert alert-#{name}" %>
    <% end %>

    <%= yield %>

    <footer>
      <p>Created by <%= link_to "Hugh Middleton", "//www.twitter.com/hughmiddleton" %></p>
      <%= debug(params) if Rails.env.development? %>
    </footer>
  </div>
</div>
</body>
</html>
